version: '3.8'

services:
  inventory_service:
    build: .
    ports:
      - "8002:3000"
    environment:
      - DATABASE_URL=postgres://user:password@db:5432/storedb
      - RUST_LOG=debug
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:16
    ports:
      - "5434:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: storedb
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d storedb"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: